$primary: #5086ec;
$lightBase: #f4f4f4;
$baseBlack: #181729;
$blackLight: #151515;
$dark: #000;
$white: #fff;
$whiteLight: #d2dee9;
$gray: #8e96a0;
$darkGray: #545b6b;
$grayLight: #8b99af;
$graySecondry: #9092a3;
$graySecondryLighter: #9092a31f;
$grayThird: #f2f2f4;
$grayThirdLigher: #707282;
$grayThirdDarker: #c7c8d8;
$grayFourth: #2d3e51;
$grayFourthLigher: #d5dde9;
$grayFourthDarker: #7a859c;
$grayFifth: #b9bfc5;
$grayFifthDarker: #d3d3d3;
$ink: #5122d6;
$mainBackground: #f9faff;
$mainBackgroundDarker: #f2f6fb;
$border: #eeeff1;
$borderDarker: #e6ebf8;
$borderLighter: #f2f4f8;
$borderSecondry: #dfd8ed;
$yellowLight: #ffb800;
$error: #ed0101;
$success: #22c55e;
