.button {
  display: none;
}

.modal {
  padding: 44px 32px 0;
  width: 1150px;
  background: #f4f6fa;
  position: relative;
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .canvas {
    display: flex;
    justify-content: center;
    height: 460px;
    position: relative;
    &.isPencil {
      canvas {
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✍️</text></svg>")
            5 25,
          auto;
      }
    }
    canvas {
      height: 100%;
      object-fit: contain;
      cursor: default;
    }
  }
  // .img {
  //   background: #e9eef4;
  //   border-radius: 5px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   height: 400px;
  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: contain;
  //   }
  //   canvas {
  //     width: 100% !important;
  //     height: 100% !important;
  //     object-fit: contain;
  //   }
  // }
  .tools {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    background: #f4f6fa;
    box-shadow: inset 0px 1px 0px #e5e9eb;
    .item {
      cursor: pointer;
      display: flex;
      padding: 7px 10px;
      border-radius: 7px;
      position: relative;
      &.active {
        background-color: #fff;
      }
      .visible {
        width: 8px;
        height: 8px;
        background: #df3e1b;
        border-radius: 50%;
        border: 1px solid #fff;
        top: 7px;
        right: 9px;
        position: absolute;
      }
    }
    button {
      padding: 10px 42px;
      background: #0e73f6;
      border-radius: 6px;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }
}

.box {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  .input {
    label {
      font-weight: 500;
      font-size: 14px;
    }
    input {
      height: 40px;
      padding: 6px 10px;
    }
    textarea {
      padding: 6px 10px;
    }
    textarea,
    input {
      height: 100%;
      width: 100%;
      outline: none;
      border-radius: 8px;
      border: 1px solid #e5e9eb;
      border-radius: 6px;
    }
  }
}
